In [ ]:
import pandas as pd

In [ ]:
import numpy as np

**Solution to Problem 1**

In [3]:
string = "google.com"
char_freq = {}

# Count the frequency of each character
for char in string:
    if char in char_freq:
        char_freq[char] += 1
    else:
        char_freq[char] = 1

# Print the dictionary of character frequencies
print(char_freq)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

**Solution to Problem 2**

In [11]:
# Sample dictionary
d = {'a': 1, 'b': 2, 'c': 3}

# Check if a key exists in the dictionary
key = 'b'
if key in d:
    print(f"The key '{key}' exists in the dictionary.")
else:
    print(f"The key '{key}' does not exist in the dictionary.")

The key 'b' exists in the dictionary.

**Solution to Problem 3**

In [4]:
# Accept comma-separated numbers from user input
num_sequence = input("Enter a sequence of comma-separated numbers: ")

# Convert the sequence of numbers to a list and tuple
num_list = num_sequence.split(',')
num_tuple = tuple(num_list)

# Print the list and tuple of numbers
print("List: ", num_list)
print("Tuple:", num_tuple)

Enter a sequence of comma-separated numbers: 1, 5, 7, 23
List:  ['1', ' 5', ' 7', ' 23']
Tuple: ('1', ' 5', ' 7', ' 23')

**Solution to Problem 4**

In [2]:
from datetime import date

# Define the two dates
date1 = date(2014, 7, 2)
date2 = date(2014, 7, 11)

# Calculate the number of days between the two dates
delta = date2 - date1
num_days = delta.days

# Print the number of days between the two dates
print("Number of days between", date1, "and", date2, "is:", num_days)

Number of days between 2014-07-02 and 2014-07-11 is: 9

**Solution to Problem 5**

In [1]:
# Define the values of x and y
x = 4
y = 3

# Calculate the result of (x + y) * (x + y)
result = (x + y) ** 2

# Print the result
print("({} + {}) ^ 2 = {}".format(x, y, result))

(4 + 3) ^ 2 = 49

**Solution to Problem 6**

In [5]:
amt = 10000
int_rate = 3.5
years = 7

future_value = amt * (1 + int_rate/100)**years

print("Future value: ", round(future_value, 2))

Future value:  12722.79

**Solution to Problem 7**

In [6]:
arr = [0,0,1,1,2,2,3,3,4,4,4]

# Using set() to remove duplicates
unique_nums = list(set(arr))

print("The list of unique numbers:", unique_nums)
print("Length of the unique list:", len(unique_nums))

The list of unique numbers: [0, 1, 2, 3, 4]
Length of the unique list: 5

**Solution to Problem 8**

In [7]:
# Sample dictionary
d = {'apple': 3, 'banana': 1, 'cherry': 2}

# Sorting dictionary by key in ascending order
asc_dict = dict(sorted(d.items()))

# Sorting dictionary by key in descending order
desc_dict = dict(sorted(d.items(), reverse=True))

print("Original dictionary:", d)
print("Dictionary sorted by key in ascending order:", asc_dict)
print("Dictionary sorted by key in descending order:", desc_dict)

Original dictionary: {'apple': 3, 'banana': 1, 'cherry': 2}
Dictionary sorted by key in ascending order: {'apple': 3, 'banana': 1, 'cherry': 2}
Dictionary sorted by key in descending order: {'cherry': 2, 'banana': 1, 'apple': 3}

**Solution to Problem 9**

In [8]:
# Sample dictionary
d = {0: 10, 1: 20}

# Adding a new key-value pair to the dictionary
d[2] = 30

print("Original dictionary:", d)

Original dictionary: {0: 10, 1: 20, 2: 30}

**Solution to Problem 10**

In [10]:
import pandas as pd
import numpy as np

# Sample dictionary data and index labels
exam_data = {'name': ['Arif', 'Asir', 'Arik', 'Anis', 'Anil', 'Ashish', 'Anahi', 'Alia', 'Alvin', 'Asim'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# Creating a DataFrame from the dictionary with index labels
df = pd.DataFrame(exam_data, index=labels)

# Displaying the DataFrame
print(df)

     name  score  attempts qualify
a    Arif   12.5         1     yes
b    Asir    9.0         3      no
c    Arik   16.5         2     yes
d    Anis    NaN         3      no
e    Anil    9.0         2      no
f  Ashish   20.0         3     yes
g   Anahi   14.5         1     yes
h    Alia    NaN         1      no
i   Alvin    8.0         2      no
j    Asim   19.0         1     yes